<section id="agenda">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-8 text-center">
                <h2 class="section-heading">Agenda</h2>
                <h3 class="section-subheading">Wat je kan verwachten.</h3>
            </div>
        </div>
        <div class="row">
            <div class="timeline col-sm-5 col-sm-offset-8">
                <ul>
                    <li>
                        <div class="hour">
                            <span>14</span>
                            <span id="sub">:00</span>
                        </div>
                        <div class="work">
                            <span>Ontvangst daggasten</span>
                        </div>
                    </li>
                    <li>
                        <div class="hour">
                            <span>15</span>
                            <span id="sub">:00</span>
                        </div>
                        <div class="work">
                            <span>Cermonie</span>
                        </div>
                    </li>
                    <li>
                        <div class="hour">
                            <span>16</span>
                            <span id="sub">:00</span>
                        </div>
                        <div class="work">
                            <span>Bubbels en een hapje</span>
                        </div>
                    </li>
                    <li>
                        <div class="hour">
                            <span>17</span>
                            <span id="sub">:30</span>
                        </div>
                        <div class="work">
                            <span>Aan tafel</span>
                        </div>
                    </li>
                    <li>
                        <div class="hour">
                            <span>20</span>
                            <span id="sub">:00</span>
                        </div>
                        <div class="work">
                            <span>Tijd voor een toetje</span>
                        </div>
                    </li>
                    <li>
                        <div class="hour">
                            <span>20</span>
                            <span id="sub">:30</span>
                        </div>
                        <div class="work">
                            <span>Ontvangst avondgasten</span>
                        </div>
                    </li>
                    <li>
                        <div class="hour">
                            <span>20</span>
                            <span id="sub">:00</span>
                        </div>
                        <div class="work">
                            <span>Openingsdans</span>
                        </div>
                    </li>
                    <li>
                        <div class="hour">
                            <span>24</span>
                            <span id="sub">:00</span>
                        </div>
                        <div class="work">
                            <span>Tijd om naar huis te gaan</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
