<section id="agenda">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading">Agenda</h2>
                <h3 class="section-subheading text-muted">Wat je kan verwachten.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="hour col-md-1">14:00</div>
                <div class="activity col-md-11">Ontvangst daggasten</div>
                <div class="hour col-md-1">15:00</div>
                <div class="activity col-md-11">Ceremonie</div>
                <div class="hour col-md-1">16:00</div>
                <div class="activity col-md-11">Bubbels + hapje</div>
                <div class="hour col-md-1">17:30</div>
                <div class="activity col-md-11">Kinderdinner</div>
                <div class="hour col-md-1">18:00</div>
                <div class="activity col-md-11">Diner</div>
                <div class="hour col-md-1">20:00</div>
                <div class="activity col-md-11">Toetje</div>
                <div class="hour col-md-1">20:30</div>
                <div class="activity col-md-11">Ontvangst avondgasten</div>
                <div class="hour col-md-1">21:00</div>
                <div class="activity col-md-11">Openingsdans</div>
                <div class="hour col-md-1">24:00</div>
                <div class="activity col-md-11">Tijd om naar huis te gaan</div>
            </div>
        </div>
    </div>
</section>
