<section id="cadeautip">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading">Cadeautip</h2>
                <h3 class="section-subheading text-box col-md-6 col-md-offset-3">Help het bruidspaar Thailand door</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-box text-center">
                <p>Wij dromen er al jaren over om in Azië te backpacken en wat is een betere reden voor zo'n mooie reis dan ons huwelijk!?.</p>
                <p>We gaan het dus doen! Woensdag 14 februari vertrekken wij, met de kinderen naar Thailand voor een nieuw avontuur!</p>
                <p>Helpen jullie ons aan een zakcentje voor extra mooie overnachtingen, dagtrips of boottochtjes?</p>
            </div>
        </div>
    </div>
</section>
