<section id="ceremoniemeester">
    <div class="image">
        <span id="ceremonie"></span>
        <div class="col-md-12 text-center heading">
        <h2 class="section-heading">Ceremoniemeester</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="text-muted">Voor als je iets leuks wil doen of zeggen op onze grote dag.</h3>
                Thomas Keuvelaar is onze ceremoniemeester.
                Je kan hem bereiken op telefoonnummer <a href="tel:+31622992623">+316 22 99 26 23</a>,<br>
                of stuur hem een berichtje via het <a href="#contact" class="page-scroll">contactformulier</a>.
            </div>
        </div>
    </div>
</section>
