<section id="ceremoniemeester">
    <span id="ceremonie"></span>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6 col-sm-pull-6 text-center">
                <h2 class="section-heading">Ceremoniemeester</h2>
            </div>
            <div class="col-sm-4 col-sm-offset-7 col-sm-pull-6 text-center">
                <h3 class="section-subheading text-muted">Voor als je iets leuks wil doen of zeggen op onze grote dag.</h3>
            </div>
            <div class="col-sm-4 col-sm-offset-7 col-sm-pull-6 text-center text-box">
                <p>Maak kennis met Thomas, onze woest aantrekkelijke (en vrijgezellige) ceremoniemeester.</p>
                <!--<p>Deze woest aantrekkelijke (en vrijgezellige jongeman) is onze ceremoniemeester Thomas.</p>-->
                <p>Je kan hem bereiken op telefoonnummer <a href="tel:+31622992623">+316 22 99 26 23</a>,<br>
                    of stuur hem een berichtje via het <a href="#contact" class="page-scroll">contactformulier</a>.</p>
            </div>
        </div>
    </div>
</section>
