<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2018_data/header.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Chris en Joska<br></div>
                <div class="intro-lead-in">voor altijd samen</div>
                <a href="#venue" class="page-scroll btn btn-xl">Meer informatie</a>
            </div>
        </div>
    </header>

    {% include 2018_data/venue.html %}
    {% include 2018_data/agenda.html %}
    {% include 2018_data/ceremoniemeester.html %}
    {% include 2018_data/dress-code.html %}
    {% include 2018_data/kom-jij-ook.html %}
    {% include 2018_data/cadeau-tip.html %}
    {% include 2018_data/contact.html %}
    {% include 2018_data/footer.html %}
    {% include 2016_data/js.html %}
    </body>
</html>
