<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2018_data/header.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Bruiloft van Chris en Joska<br></div>
                <div class="intro-lead-in">9 februari 2018</div>
                <div class="intro-lead-in">
                    Strandpavilioen Kaapduin, Duinovergang Kaapduinseweg
                    Strand Koudekerke 50
                    4371 XZ Koudekerke
                </div>
                <a href="#intro" class="page-scroll btn btn-xl">Meer informatie</a>
            </div>
        </div>
    </header>

    {% include 2018_data/venue.html %}
    {% include 2018_data/agenda.html %}
    {% include 2018_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
